*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #7DC2AD;
    padding-bottom: 80px; 
    box-shadow: none;
}

#container {
    height: 100% !important;
    
}

    /* Chat room buttons */

#chatButtonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

#chatButtonWrapper button {
    margin: 2px;
    width: 155px;
    height: 2rem;
    border: none;
}

#general {
    background-color: #E27D60;
}

#js {
    background-color: #41B3A3;
}

#test {
    background-color: #C38D9E;
}

#homework {
    background-color: #E8A87C;
}



    /* Chat window */

#chatRoom {
    padding: 5px;
    background-color: white;
    opacity: 0.6;
    margin: 0 auto;
    width: 45%;
    height: 650px;
    border-top-left-radius: 25px;
    overflow-y: scroll;
}

#ulMessages {
    display:block;

}

#ulMessages li{
    word-wrap: break-word;
    list-style: none;
    background-color: #E27D60;
    width: 55%;
    height: 100%;
    overflow: visible;
    opacity: 1;
    
} 


.liMsg {
    margin-top: 10px;
    position: relative;
}

.liMsg img {
    width: 20px;
    height: 20px;
    position: absolute;
}

.me{
    border-radius: 0px 20px 20px 20px;
    margin-left: auto;
    background-color:#7DC2AD !important;
    text-align: right;
    padding: 10px;
    border-radius: 20px 0px 20px 20px !important;
}

.me img {
    left: 0;
    margin: 10px;
}

.not-me {
    margin-right: auto;
    text-align: left;
    padding: 5px;
    border-radius: 0px 20px 20px 20px;

}

.not-me img {
    right: 0;
    margin: 5px;
}

#color {
    background-color: white;
    opacity: 0.7;
    margin: 0 auto;
    width: 45%;
    padding: 3px;
    border-radius: 0px 0px 20px 20px;
}

    /* Input */

#formNewMessage {
    position: relative;
    background-color: white;
    opacity: 0.7;
    width: 45%;
    margin: 0 auto;
    height: 40px;

}

#inputMessage {
    position: absolute;
    left: 0;
    height: 30px;
    width: 58%;
    margin: 5px 10px 5px 50px;
}

#btnSend {
    margin-left: 4px;
    position: absolute;
    right: 0px;
    height: 30px;
    width: 25%;
    margin: 5px 15px 5px 0px;
    background-color: #E27D60;
    border: none;
}

    /* Forms */

#formUpdateUsername {
    background-color: white;
    opacity: 0.7;
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    height: 40px;
}

    /* Footer */

#footer {
    text-align: center !important; 
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin: 0 !important;
    padding-bottom: 0;
    background-color: black;
    color: white;
}

.icons {
    height: 20px;
    width: 20px;
}

    /* Mobile */

@media only screen and (max-width: 400px) {
    #chatRoom {
        width: 100%;
    }
    #formNewMessage {
        width: 100%; 
    }
    #settings {
        width: 100%; 
        left: 0;
        top: 40%;
    }    
}